* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 235, 144);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(156, 224, 226);
  padding: 2rem;
}

.btn {
  margin: 2rem;
  font-size: 1.5rem;
  color: rgb(131, 238, 117);
  padding: 10px 25px;
  border: none;
  background-color: rgb(91, 94, 91);
  border-radius: 18px;
  cursor: pointer;
}
